.lp1 {
  &--slp-block-0 {
    background-image: url("/wp-content/uploads/2019/03/home-cinema-slider-block.jpg");

    @media (min-width: 1500px) {
      background-position: center top;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    @media (min-width: 992px) {
      background-position: center top;
      background-size: 125%;
      background-repeat: no-repeat;
    }
  }

  &--slp-block-1 {
    background-image: url("");
  }

}

.lp2 {
  &--slp-block-0 {
    background-image: url("/wp-content/uploads/2019/03/smart-home-slider.jpg");
  }

  &--slp-block-1 {
    background-image: url("/wp-content/uploads/2019/03/lp-img-23.jpg");
  }
}


.bg-svg {
  &--v1 {
    background-image: url("images/svg-bg4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}