.btn {
  &--phone {
    display: inline-block;
  }
  &--first,
  &--second,
  &--third {
    border-radius: 32px;
    width: 470px;
    padding: 23px 24px 25px;
    font-size: 24px;
    line-height: 19px;
    font-weight: 700;
    font-family: "Proxima Nova", sans-serif;
    max-width: 100%;
    display: inline-block;
  }

  &--first {
    &, &:active, &:focus {
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.47);
      background-color: #ff7249;
      color: #f5f6f8 !important;
    }

    &:hover {
      background-color: #c35636;
    }
  }

  &--second {
    &, &:active, &:focus {
      border: 6px solid #ff7249;
      color: #000 !important;
      padding: 19px 30px;

      &:hover {
        border: 6px solid #c35636;
      }
    }
  }

  &--third {
    &, &:active, &:focus {
      border: 6px solid #56aed4;
      color: #000 !important;
      padding: 19px 30px;
    }

    &:hover {
      border: 6px solid #3d7f9c;
    }
  }

  &--fourth {
    &, &:active, &:focus {

    }

    &:hover {

    }
  }
}

.btn-a {
  &--first {
    color: #ff7249;

    &:hover {
      color: #c35636;
    }
  }

  &--second {

  }

  &--third {
    color: #56aed4;

    &:hover {
      color: #3d7f9c;
    }
  }
}

.rc-separate {
  position: relative;
  color: #1f1e1e;
  font-size: 30px;
  font-weight: 700;
  padding: 0 6px;

  &:before,
  &:after {
    position: absolute;
    display: inline-block;
    top: 50%;
    content: '';
    width: 28px;
    height: 6px;
    background: #ff7249;
  }

  &:before {
    left: -28px;
    margin-right: 6px;
  }

  &:after {
    margin-left: 6px;
  }
}