.lp-color {
  &--first {
    color: #171717;
    &:hover {
      color: scale-color(#171717, $lightness:-20%)!important;
    }
  }

  &--second {
    color: #ff7249;
    &:hover {
      color: scale-color(#ff7249, $lightness:-20%)!important;
    }
  }

  &--third {
    color: #56aed4;
    &:hover {
      color: scale-color(#56aed4, $lightness:-20%)!important;
    }
  }

  &--white {
    color: #fff;
    &:hover {
      color: scale-color(#fff, $lightness:-20%)!important;
    }
  }
}