@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaBlack.otf");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaBlackItalic.otf");
  font-weight: 800;
  font-style: italic
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaExtrabold.otf");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaExtraboldItalic.otf");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaBold.otf");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaBoldItalic.otf");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaSemibold.otf");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaSemiboldItalic.otf");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaRegular.otf");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaRegularItalic.otf");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaThin.otf");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNovaThinItalic.otf");
  font-weight: 300;
  font-style: italic
}

.lp-block, .sar-block {
  color: #171717;
  font-family: 'Proxima Nova', sans-serif;

  ul, ol {
    padding-left: 1em;

    &.rc-list {
      &--v1 {
        list-style: none;
        padding-left: 35px;

        li:before {
          content: "-";
          position: absolute;
          left: 30px;
        }
      }
    }
  }


  p, ul, ol, li {
    margin-bottom: 0;

    &.rc-p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.25em;
    }
  }

  .rc-a {
    text-decoration: underline;

    &:hover {
      color: #c35636;
    }
  }

  strong {
    font-weight: 700;
  }

  .rc-header {
    display: inline-block;
    position: relative;
    @media (min-width: 768px) {
      padding-left: 4em;
      padding-right: 4em;
    }
    @media (max-width: 767px) {
      padding-left: 2em;
      padding-right: 2em;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      display: inline-block;
      @media (min-width: 768px) {
        width: 5rem;
      }
      @media (max-width: 767px) {
        width: 2rem;
      }
      border-top-width: 2px;
      border-top-style: solid;
      border-color: inherit;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }


  .rc-h1 {
    font-size: 48px;
    line-height: 54px;
  }

  .rc-h1-sar {
    @media (min-width: 768px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 38px;
    }
  }

  .rc-h2 {
    font-size: 30px;
    line-height: 34px;
  }

  .rc-h3 {
    font-size: 24px;
    line-height: 26px;
  }

  .rc-h4 {
    font-size: 18px;
    line-height: 20px;
  }

  .rc-h5 {
    font-size: 16px;
    line-height: 20px;
  }

  .rc-h6 {
    font-size: 14px;
    line-height: 18px;
  }
}

.rc-list {
  &--inside {
    list-style-position: inside;
  }

  &--outside {
    list-style-position: outside;
  }
}

.rc-semibold {
  font-weight: 500;
}

.rc-bold {
  font-weight: 700;
}

.rc-f-w {
  &--400 {
    font-weight: 400 !important;
  }

  &--500 {
    font-weight: 500 !important;
  }

  &--600 {
    font-weight: 600 !important;
  }

  &--700 {
    font-weight: 700 !important;
  }

}