.bg-cover {
  background-size: cover;
}

.rc-m-y {
  &--20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  &--30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  &--40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  &--50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  &--60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
}

.rc-mt {
  &--10 {
    margin-top: 10px !important;
  }

  &--15 {
    margin-top: 15px !important;
  }

  &--20 {
    margin-top: 20px !important;
  }

  &--30 {
    margin-top: 30px !important;
  }

  &--40 {
    margin-top: 40px !important;
  }

  &--50 {
    margin-top: 50px !important;
  }

  &--60 {
    margin-top: 60px !important;
  }

  &--70 {
    margin-top: 70px !important;
  }

  &--80 {
    margin-top: 80px !important;
  }

  &--90 {
    margin-top: 90px !important;
  }

  &--100 {
    margin-top: 100px !important;
  }

  &--110 {
    margin-top: 110px !important;
  }

  &--150 {
    margin-top: 150px !important;
  }

  &--200 {
    margin-top: 200px !important;
  }

  &--250 {
    margin-top: 250px !important;
  }

  &--300 {
    margin-top: 300px !important;
  }
}

.rc-mb {
  &--10 {
    margin-bottom: 10px !important;
  }

  &--15 {
    margin-bottom: 15px !important;
  }

  &--20 {
    margin-bottom: 20px !important;
  }

  &--30 {
    margin-bottom: 30px !important;
  }

  &--40 {
    margin-bottom: 40px !important;
  }

  &--50 {
    margin-bottom: 50px !important;
  }

  &--60 {
    margin-bottom: 60px !important;
  }

  &--70 {
    margin-bottom: 70px !important;
  }

  &--80 {
    margin-bottom: 80px !important;
  }

  &--90 {
    margin-bottom: 90px !important;
  }

  &--100 {
    margin-bottom: 100px !important;
  }

  &--110 {
    margin-bottom: 110px !important;
  }

  &--150 {
    margin-bottom: 150px !important;
  }

  &--200 {
    margin-bottom: 200px !important;
  }

  &--250 {
    margin-bottom: 250px !important;
  }

  &--300 {
    margin-bottom: 300px !important;
  }
}

.rc-p-x {
  &--10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &--15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  &--20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  &--30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  &--40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  &--50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  &--60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  &--70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

.rc-p-y {
  &--10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &--15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  &--20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  &--30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  &--40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  &--50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &--60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  &--70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
}


.rc-pr {
  &--10 {
    padding-right: 10px !important;
  }

  &--15 {
    padding-right: 15px !important;
  }

  &--20 {
    padding-right: 20px !important;
  }

  &--30 {
    padding-right: 30px !important;
  }
}

.rc-pb {
  &--10 {
    padding-bottom: 10px !important;
  }

  &--15 {
    padding-bottom: 15px !important;
  }

  &--20 {
    padding-bottom: 20px !important;
  }

  &--30 {
    padding-bottom: 30px !important;
  }
}

.rc-bg {
  &-white {
    &--alpha7 {
      background: rgba(255, 255, 255, .7);
    }

    &--alpha5 {
      background: rgba(255, 255, 255, .5);
    }
  }

  &-black {
    &--alpha7 {
      background: rgba(0, 0, 0, .7);
    }

    &--alpha5 {
      background: rgba(0, 0, 0, .5);
    }
  }
}