.rc-shadow {
  &--v1 {
    box-shadow: 3px 11px 23px 4px rgba(65, 65, 65, 0.47);
  }
  &--v2 {
    box-shadow: 0 11px 23px 4px rgba(65, 65, 65, 0.47);
  }
  &--v3 {
    box-shadow: 0 11px 23px 4px rgba(65, 65, 65, 0.11);
  }
}